div.keyboard {
    width: 100%;
}

table.keyboard {
    margin: 0 auto;
}

.keyboard td {
    width: 7vw;
    height: 7vw;
    font-family: 'Consolas', monospace;
    font-size: 2.5vw;
    text-align: center;
    border-width: 1pt;
    border-style: solid;
    margin: 4px;
    cursor: default;
}

.kbrow span, td:hover {
    background-color: aliceblue;
}

p.hangmantext {
    font-family: 'Consolas', monospace;
    font-size: 3vw;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5em; 
}